


$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-heading: 48px;
$font-size-title: 64px;
