.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 20px 80px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  border-color: $primary-color;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    transform: scaleX(1.02);
    transform: translateY(3px);
  }
}
